.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h427_multi_faces/zNugnnR5KEmq9EzLcl0Me1UmHYk.jpg");
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    background-size: 100%;
    margin-bottom: 48px;
    outline: none;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(3, 37, 65, 0.6);
}
.inner {
    z-index: 99999;
    padding: 20px 0;
    width: 80%;
}
.content {
    width: 300px;
    img {
        width: 300px;
        border-radius: 6px;
    }
    i {
        font-size: 42px;
        color: #fff;
        position: absolute;
    }
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.information {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 740px) {
    .wrapper {
        width: 100%;
    }
    .inner {
        width: 80%;
    }
}
@media (min-width: 1113px) {
    .inner {
        width: 1200px;
    }

    .content {
        img {
        }
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1239px) {
}
