.members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 250px;
    border-radius: 50%;
}

.members {
    p {
        background: -webkit-linear-gradient(
            rgb(84, 22, 200),
            rgb(177, 209, 14)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 4px 0;
    }
    h2,
    h3 {
        background: -webkit-linear-gradient(rgb(235, 54, 4), rgb(14, 17, 209));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 4px 0;
    }
}
.icon {
    margin: 16px;
    color: blue;
    width: 3rem;
}
